html {
  height: 100%;
}

body {
  background-color: #34495e;
  color: white;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#main {
  flex: 1;
  display: flex;
  padding: 20px;
}

#editor {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#editor-text {
  min-width: 50%;
  flex: 1;
  border-radius: 10px;
}

#editor-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

#editor-motion-name {
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

#editor-header button {
  border: none;
  background-color: #c0392b;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  margin-left: 5px;
  transition: background-color 0.2s ease 0s;
}

#editor-header button:active {
  background-color: #f39c12;
}

#blocks {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#blocks .row {
  display: flex;
  justify-content: center;
}

#blocks button {
  display: block;
  width: 150px;
  height: 150px;
  color: white;
  background-color: #f39c12;
  border: none;
  border-radius: 20px;
  margin: 0 0 10px 10px;
}

#blocks .built-in-command-button {
  background-color: #e74c3c;
}

#blocks .playing-mode-button {
  background-color: #3498db;
  box-shadow: 0 0 30px 0 #3498db;
}

#blocks button[disabled] {
  background-color: #7f8c8d;
  box-shadow: none;
}

footer {
  width: 100%;
  text-align: right;
}

footer span, footer button {
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  border: none;
  color: white;
  border-radius: 10px;
}

footer #making-mode-banner span {
  background-color: #e67e22;
}

footer #making-mode-banner button {
  background-color: #c0392b;
}

footer #playing-mode-banner span {
  background-color: #2980b9;
}

footer #playing-mode-banner button {
  background-color: #8e44ad;
}

footer div {
  display: none;
}

.active-banner {
  display: block;
}

#switch-mode-button {
  background-color: #16a085;
  float: right;
}

#inactive-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}

.screen-game-active {
  display: none;
}

#inactive-inner {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  padding: 20px 0;
  transform: translateY(-50%);
}

